<% 
  let gnb = locals.require('gnb.json')
  var page = 'settings'
  let sub = '예약설정'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('libsStyle','<link rel="stylesheet" href="../../libs/fullcalendar/css/fullcalendar.min.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/moment/moment.min.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../libs/fullcalendar/js/fullcalendar.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/settings.js"></script>','append') %>

<%- locals.widget('_page-header.ejs', {title: heading}) %>

<div class="row">
  <div class="col-sm-12">
    <div id="calendar" class="calendar">
      <!-- add 180417 -->
      <div class="form-check form-check--all">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"> 전체선택 
        </label>
      </div>
      <!-- // add 180417 -->
      <div class="form-check">
        <label class="form-check-label">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          예약가능날짜
        </label>
      </div>
    </div>
    <blockquote>
      <p>※ 체크박스 선택 해제 시 해당 날짜는 예약할 수 없습니다.</p>
      <footer>날짜를 선택하여 예약 가능한 시간을 확인해 주세요.</footer>
    </blockquote>
  </div>
</div>

<!-- Modal -->
<!-- 예약시간 설정 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">예약 시간 설정</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed">
          <ul class="info-list">
            <li>상담시간은 30분 단위로 설정할 수 있습니다.</li>
            <li>시작시간 입력 시 끝 시간은 자동으로 30분으로 설정됩니다.</li>
            <li>사용하지 않은 시간은 00:00으로 체크해주세요.</li>
          </ul>
          <button type="button" class="btn btn-primary btn-sm">전체 30분 적용</button>
          <table class="table table-condensed time-table">
            <colgroup>
              <col width="40px">
              <col width="50%">
              <col width="50%">
            </colgroup>
            <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">시작</th>
              <th scope="col">끝</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" rowspan="6">오전</th>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="09">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="09" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="09">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="10" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="10">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="10" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="10">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="11" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="11">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="11" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="11">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="12" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <th scope="row" rowspan="10">오후</th>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="13">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="13" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="13">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="14" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="14">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="14" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="14">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="15" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="15">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="15" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="15">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="16" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="16">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="16" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="16">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="17" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="17">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="17" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30" disabled>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="input-group input-group-xs start-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="17">
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="30">
                </div>
                <div class="input-group input-group-xs end-time">
                  <input type="text" class="form-control text-center" placeholder="HH" value="18" disabled>
                  <span class="input-group-addon modu-group-addon center">:</span>
                  <input type="text" class="form-control text-center" placeholder="MM" value="00" disabled>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <!--<button type="button" data-dismiss="modal" class="btn btn-danger btn-flat pull-left">삭제</button>-->
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">수정완료</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->