body { background-color:#fff; font-family:'Arita-dotum','notokr','Spoqa Han Sans', sans-serif; }
.modu-container { @include block; }
.modu-sidebar { @include block; position:fixed; top:0; left:0; bottom:0; width:230px; height:100%; background-color:#f5f5f5; border-right:1px solid #e3e3e3;  
  @media (max-width: 767.98px) {
   display:block; position:relative; width:auto; border-right:none;
  }
}
.modu-contents { @include block; margin-left:230px; min-height:100%; padding:25px; background-color:#fff; z-index:500; position:relative;
  @media (max-width: 767.98px) {
    margin-left:0; padding:15px; 
  }
}

.modu-logo { margin:20px; 
  @media (max-width: 767.98px) {
    margin:10px;  
  }
}

.modu-logo-sub-image { height:34px; vertical-align:top; }

.modu-header-toogle { display:none;
  @media (max-width: 767.98px) {
    display:block; padding:16px 10px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; background-color:#fff; font-weight:300; font-size:18px; text-decoration:none; color:#333; line-height:1;
    &:focus,
    &:hover { text-decoration:none; color:#333; }
    .caret { margin-top:6px; }
    &[aria-expanded=true] .caret { border-top:0; border-bottom:4px solid; }
  }
}

.modu-gnb  { 
  .fa { width:1.5em; text-align:center; }
  .nav { 
    &>li { 
      &>a { padding:0 20px; font-size:14px; color:#646464; text-decoration:none; font-weight:700; line-height:38px;
        &:before { float:right; content:'\f0d7'; font-family:'FontAwesome'; font-size:11px; color:#c5c5c5; }
        &:focus,
        &:hover { background-color:#f0f0f0; }
      }
      &.active,
      &.open {
        &>a:before { content:'\f0d8'; }
      }
      &.active { 
        &>a { color:#4285f4; }
      }
      &.open {
        &>a { background-color:transparent;}
        &>a:hover { background-color:#f0f0f0; }
        &>a:focus { background-color:transparent; }
      }
    }
  }
  .dropdown { overflow:hidden; max-height:38px;
    &.open { background-color:none; }
    &.open,
    &.active { max-height:1000px; transition:max-height 2s ease-out; }
  }
  .dropdown-menu { display:block; position:static; float:none; min-width:auto; margin:0; padding:10px 0; background-color:#eee; border-radius:0;border:none; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; box-shadow:none; 
    &>li { 
      &>a { padding:8px 15px 8px calc(20px + 1.35em); color:#646464; font-size:13px; 
        &:focus,
        &:hover { background-color:#e7e7e7; }
      }
      &.open>a { color:#4285f4; }
    }
    &>.active {
      &>a { background-color:transparent; color:#4285f4;
        &:focus, 
        &:hover { 
          background-color:#e7e7e7;
        }
      }
    }    
  }
  .active>.dropdown-menu { display:block; }
  
  &.collapse { display:block; visibility:visible;}
  @media (max-width: 767.98px) {
    &.collapse { display:none; visibility:hidden;}
    &.collapse.in { display:block; visibility:visible;}
    .nav { padding-bottom:20px; }
  }
}

.board-link { color:inherit; 
  &:focus,
  &:hover { color:inherit;}
}

.board-nowrap { position: relative; display: inline-block; box-sizing: border-box; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: top; }
.board-nowrap:nth-child(n) { width: auto; max-width: 100%; }

.modu-state { position:absolute; bottom:40px; left:20px; right:20px; 
  @media (max-width: 767.98px) {
    top:14px; bottom:auto; left:auto;
  }
}

.modu-code { position:absolute; bottom:10px; left:20px; right:20px;text-align:center; font-size:15px; 
  @media (max-width: 767.98px) {
    display:none; 
  }
}

.input-file-wrap { }
.input-file-wrap { }
.input-file-box { overflow:hidden; margin-bottom:5px;
  .btn-duplicator { margin-top:5px; float:right; }
  .btn-remove { margin-top:5px; float:left; }
}
.dropify-wrapper { white-space:normal;}

