

code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pagination a,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
  border-radius:0 !important;
}

.font-weight-bold { font-weight:700 !important; }
.font-weight-normal { font-weight:400 !important; }
.font-weight-light { font-weight:300 !important; }
.font-italic { font-style:italic !important; }

.label { display:inline-block; padding:.3em .6em .23em;
  &--w-52 { min-width:52px; }
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon, 
.input-group-xs>.input-group-btn>.btn { height:20px; padding:0px 8px; font-size:12px; line-height:1.5; }

.page-header { 
  @media (max-width: 767.98px) { 
    display:none;
  }
}

.fixed-table-container { border:none; }

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td { white-space:nowrap;}
.table-board { table-layout:fixed; }
.table-normal>tbody>tr>td, 
.table-normal>tfoot>tr>td, 
.table-normal>thead>tr>td { white-space:normal;}
