// calendar
.calendar { position:relative; max-width:800px; margin-bottom:20px;
  .form-check { position:absolute; right:0; top:0; padding-top:28px; }
  .form-check--all { right: auto; left: 0; padding-top: 26px; 
    .form-check-label { font-size: 1.14em; }
    .form-check-input { vertical-align: top; }
  }
  .fc-row .fc-bg { z-index:10; }
  .fc-row .fc-content-skeleton td:not(.fc-other-month) .fc-day-number { display: inline-block; float: none !important; padding: 0 0 0 20px; font-size: 14px; text-decoration: underline; }
  .fc-day.fc-widget-content:not(.fc-other-month) { cursor: pointer; }
  &.fc-unthemed td.fc-today { background: transparent; }
  .fc-content-skeleton td.fc-today { font-weight: bold; }
  .checkbox-wrap { padding:0 4px; }

  .fc-sat { color:blue; }
  .fc-sun { color:red; }

  .fc-header-toolbar {
    .fc-center {
      h2 { margin-left:0.4em; }
      .fc-state-default { padding:0 .8em; box-shadow:none; border-radius: 0; background-image: none; background-color: #fff; text-shadow: none; border:none; }
    }
  }
  @media (max-width: 767.98px) {
    max-width:auto;
  }
}

// modal
.modal {
  .info-list { padding-left:15px; }
}
.table {
  .thead-dark {
    th { color: #fff; background-color: #212529; border-color: #32383e; }
  }
}

.time-table { white-space: nowrap; margin-top:15px; border-top:1px solid #212529; border-bottom:1px solid #ddd;
  & thead tr th { text-align: center; }
  & tbody tr th { vertical-align: middle; background-color: #e9ecef; }
}
.start-time,
.end-time { float:left; box-sizing: border-box; width:50%; }
.start-time { padding-right:10px; }
.end-time {
  &:before { content:'~'; display:table-cell; vertical-align: middle; position:relative; left:-5px; top:0; }
}
.modu-group-addon {
  &.center { border-width:1px 0; }
}
