<% let gnb = locals.require('gnb.json') -%>
<div class="modu-gnb collapse" id="gnb">
  <ul class="nav" role="navigation">
    <% 
      for (var depth1 in gnb) {
        if (gnb[depth1].hasOwnProperty('view')) {
        var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
    -%>
      <% if (Object.keys(gnb[depth1].children).length > 0) {
        var children = gnb[depth1].children;
        var subLink = children[Object.keys(children)[0]].link
        var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
      %>
        <li role="presentation" class="dropdown <%- pageLocation %>">
          <a href="../<%- depth1%>/<%- link %>.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-<%- gnb[depth1].icon %>" aria-hidden="true"></i> <%- gnb[depth1].title.ko %></a>
            <ul class="dropdown-menu" role="menu">
              <% 
                for (var depth2 in children) { 
                  if (children[depth2].hasOwnProperty('view')) { 
                  var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
              -%>
                <li class="<%- subLocation %>"><a href="../<%- depth1%>/<%- children[depth2].link %>.html" class=""><%- depth2 %></a></li>
              <% 
                  } //end if 
                } // end for 
              -%>
            </ul>
        </li>
      <% } else { -%>
        <li role="presentation">
          <a href="../<%- depth1%>/<%- gnb[depth1].link %>.html"><%- gnb[depth1].title.ko %></a>
        </li>
      <% } // end if -%>
    <% 
        } // end if 
      } // end for 
    -%>
  </ul>
</div>