<% 
  let base = locals.require('base.json')
  let gnb = locals.require('gnb.json')
  var page = 'main'
  let sub = '로그인'
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% if (sub) locals.block('title', sub + ' | ','append') -%>
<% if (page != 'main') locals.block('title', gnb[page].title.ko+' | ','append') -%>
<% locals.block('pageStyle','<link rel="stylesheet" href="../../css/login.css">','append') %>

<div class="login-wrapper">
  <form class="form-signin">
    <h1 class="form-partner-logo"><img src="../../images/common/gsk-logo.png" alt=""></h1><!-- add 180409 -->
    <h2 class="form-signin-heading"><%- base.name %> <%- base.type %> 로그인</h2>
    <input type="text" class="form-control" name="username" placeholder="아이디" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="패스워드" required=""/>      
    <!-- <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> 기억하기
    </label> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>   
  </form>
</div>