
<% 
  let gnb = locals.require('gnb.json')
  var page = 'notice'
  let sub = '공지사항'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-bordered table-board">
      <thead>
        <th class="text-center" style="width:60px;">번호</th>
        <th class="text-center">제목</th>
        <th class="text-center" style="width:100px;">등록일</th>
        <th class="text-center" style="width:100px;">조회수</th>
      </thead>
      <tbody>
        <% for (var i=10; i > 0; i--) { %>
          <tr>
            <td class="text-center"><%- i %></td>
            <td class=""><a href="<%- gnb[page].children['공지사항-상세'].link %>.html" class="board-link board-nowrap">피어나기 찾아다녀도, 청춘을 때에, 방황하여도, 힘있다. 아니한 이 위하여 얼음에 심장의 품었기 사막이다. 보이는 웅대한 트고, 얼음과 소금이라 귀는 봄바람이다. 뜨고, 인생에 없으면, 약동하다. 소담스러운 뭇 황금시대를 있는 끓는 얼음 이것이다. 설레는 청춘이 풍부하게 품고 약동하다. 얼마나 때에, 아니한 이것이다.</a></td>
            <td class="text-center">0000-00-00</td>
            <td class="text-center">10000</td>
          </tr>
        <% } -%>
      </tbody>
    </table>
    <!-- //table -->
    
    <%- locals.widget('_pagination.ejs') %>
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="<%- gnb[page].children['공지사항-등록'].link %>.html" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>