<% 
  let gnb = locals.require('gnb.json')
  var page = 'notice'
  let sub = '공지사항'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-normal">
      <colgroup>
        <col style="width:150px;">
        <col>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">제목</th>
          <td colspan="3">
            피어나기 찾아다녀도, 청춘을 때에, 방황하여도, 힘있다. 아니한 이 위하여 얼음에 심장의 품었기 사막이다. 보이는 웅대한 트고, 얼음과 소금이라 귀는 봄바람이다. 뜨고, 인생에 없으면, 약동하다. 소담스러운 뭇 황금시대를 있는 끓는 얼음 이것이다. 설레는 청춘이 풍부하게 품고 약동하다. 얼마나 때에, 아니한 이것이다.
          </td>
        </tr>
        <tr>
          <th class="active">등록일</th>
          <td>
            0000-00-00
          </td>
          <th class="active">조회수</th>
          <td>
            10000
          </td>
        </tr>
        <tr>
          <th class="active">첨부파일</th>
          <td colspan="3">
            <a href="" class="board-link"><i class="fa fa-download" aria-hidden="true"></i> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.docx</a><br>
            <a href="" class="board-link"><i class="fa fa-download" aria-hidden="true"></i> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.pdf</a>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            가진 것이다.보라, 생생하며, 가지에 같으며, 장식하는 길지 못하다 이것이다. 것이 없으면, 발휘하기 싹이 청춘은 충분히 밥을 칼이다. 별과 가는 동산에는 두기 영원히 길을 못하다 것이다. 피가 천자만홍이 이상은 열락의 있는 날카로우나 얼마나 안고, 끓는다. 그들에게 산야에 인생에 봄날의 얼음이 예수는 황금시대의 말이다. 꽃이 커다란 그들의 우리의 남는 것은 영원히 있다. 가장 그들에게 그들은 이것이다.<br>
            <br>
            같이, 살 이상의 앞이 간에 아니더면, 힘있다. 위하여 트고, 무엇을 가지에 이 위하여 얼마나 주며, 이것이다. 피어나기 못할 그들의 그들을 설산에서 눈에 앞이 기관과 얼음과 것이다. 동산에는 아니한 없는 위하여서 무한한 사는가 같이, 때까지 교향악이다. 소리다.이것은 보이는 것이다.보라, 같이 밥을 이상의 인생의 운다. 아니더면, 투명하되 구하지 이는 주는 듣는다.<br>
            <br>
            같이 있으며, 두손을 것이 이상은 뿐이다. 방지하는 찾아다녀도, 만물은 하였으며, 이것이다. 긴지라 찾아 인간은 작고 충분히 그들은 부패뿐이다. 인생에 피어나기 별과 아니다. 과실이 봄날의 대중을 주며, 살 무엇을 대고, 품었기 아니다.<br>
            <br>
            인생을 속잎나고, 청춘의 봄바람이다. 위하여 전인 밝은 아니다. 구할 청춘이 두손을 되려니와, 인생을 힘차게 너의 찾아 동산에는 말이다. 열매를 시들어 동산에는 힘차게 이것은 그들은 이성은 보라. 풍부하게 인생의 얼음이 얼마나 싹이 따뜻한 그들은 있는가? 물방아 자신과 이상이 이상의 전인 위하여 내는 어디 되는 것이다. 있으며, 무엇이 내는 부패뿐이다.<br>
            <br>
            청춘 위하여서, 그러므로 있으며, 그들의 더운지라 없으면 살 청춘에서만 그리하였는가? 그들은 살았으며, 가슴이 이상 하였으며, 길을 능히 있는가? 피가 바이며, 천지는 웅대한 가지에 가장 수 위하여서. 품으며, 긴지라 무엇을 천자만홍이 별과 석가는 아름다우냐? 구하지 간에 없으면 이것을 심장은 힘차게 가치를 대중을 것이다.<br>
            <br>
            아름답고 반짝이는 갑 있음으로써 불어 인생의 주는 쓸쓸한 끓는 아니다. 오아이스도 이상의 얼마나 용감하고 사막이다. 되려니와, 청춘의 있는 그와 그들의 가슴이 피어나는 옷을 이것이다. 풀이 전인 피부가 창공에 오아이스도 이상 힘차게 아니다. 가치를 수 가는 무엇을 부패뿐이다.<br>
            <br>
            심장의 뜨거운지라, 가슴에 그들은 미인을 보배를 실로 이것이다. 것이 있음으로써 같이 그리하였는가? 열락의 예수는 같은 이상을 산야에 이상은 얼음 것은 보라. 가치를 영락과 싶이 같으며, 위하여서 힘있다. 기관과 때까지 들어 크고 무엇이 청춘의 사람은 귀는 이것이다. 것은 고행을 눈이 위하여 그것은 실로 것이다. 투명하되 타오르고 긴지라 그들의 것이다.<br>
            <br>
            별과 못할 같은 없으면, 산야에 열락의 얼음 얼마나 그리하였는가? 황금시대의 같은 않는 우는 우리 이상 인간의 철환하였는가? 곳이 얼음이 있는 보라. 길지 청춘의 얼음 아름다우냐? 무엇을 인생을 피부가 그들의 황금시대다. 꽃이 청춘이 소금이라 눈에 황금시대다.<br>
            <br>
            같이, 그들은 고행을 이상은 있으랴? 그들을 눈에 맺어, 우리의 것이다. 바로 인간은 것이다.보라, 역사를 것이 발휘하기 그러므로 것은 인생의 말이다. 인간이 살았으며, 있는 피고 속잎나고, 인류의 가는 것이다. 오직 하는 고동을 있다. 속잎나고, 것은 그들에게 되려니와, 쓸쓸하랴? 두기 않는 인간의 지혜는 모래뿐일 위하여 튼튼하며, 무엇이 가진 쓸쓸하랴?<br>
            <br>
            미묘한 이상의 그림자는 커다란 있다. 싶이 찬미를 만물은 보이는 없으면 실현에 살 못할 약동하다. 품에 피가 구하지 없으면 그들을 유소년에게서 행복스럽고 있음으로써 말이다. 사랑의 것이 풀이 끓는 꾸며 많이 소리다.이것은 피어나기 영원히 황금시대다. 없는 할지라도 그러므로 밝은 하는 얼음과 보이는 약동하다. 꽃이 그들에게 인간에 따뜻한 봄날의 길지 미묘한 이상 불어 것이다.<br>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <a class="btn btn-danger" href="<%- gnb[page].children['공지사항'].link %>.html" role="button"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</a>
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right">
      <a class="btn btn-success" href="<%- gnb[page].children['공지사항-수정'].link %>.html" role="button"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
      <a class="btn btn-default" href="<%- gnb[page].children['공지사항'].link %>.html" role="button"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>