<% 
  let gnb = locals.require('gnb.json')
  var page = 'notice'
  let sub = '공지사항'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-normal">
      <colgroup>
        <col style="width:150px;">
        <col>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">제목 <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small></th>
          <td colspan="3">
            <input type="text" name="" id="" class="form-control input-sm" value="피어나기 찾아다녀도, 청춘을 때에, 방황하여도, 힘있다. 아니한 이 위하여 얼음에 심장의 품었기 사막이다. 보이는 웅대한 트고, 얼음과 소금이라 귀는 봄바람이다. 뜨고, 인생에 없으면, 약동하다. 소담스러운 뭇 황금시대를 있는 끓는 얼음 이것이다. 설레는 청춘이 풍부하게 품고 약동하다. 얼마나 때에, 아니한 이것이다.">
          </td>
        </tr>
        <tr>
          <th class="active">등록일</th>
          <td>
            0000-00-00
          </td>
          <th class="active">조회수</th>
          <td>
            10000
          </td>
        </tr>
        <tr>
          <th class="active">첨부파일</th>
          <td colspan="3">
          
            <div class="hidden">
              <div class="col-sm-12 col-md-4 col-lg-3 input-file-box model">
                <input type="file" data-height="100" data-default-file="" />
                <button class="btn btn-xs btn-danger btn-remove"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">삭제</span></button>
                <button class="btn btn-xs btn-primary btn-duplicator"><i class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">추가</span></button>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-3 input-file-box">
                <input type="file" class="dropify" data-height="100" data-default-file="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ad.docx" />
                <button class="btn btn-xs btn-primary btn-duplicator"><i class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">추가</span></button>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-3 input-file-box">
                <input type="file" class="dropify" data-height="100" data-default-file="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ad.docx" />
                <button class="btn btn-xs btn-danger btn-remove"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">삭제</span></button>
                <button class="btn btn-xs btn-primary btn-duplicator"><i class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">추가</span></button>
              </div>
            </div>
          
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div>
        
              <div style="padding:200px;background-color:skyblue;text-align:center;">에디터</div>
        
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left"></div>
  <div class="col-sm-4 text-center">
    <a class="btn btn-default" href="<%- gnb[page].children['공지사항-상세'].link %>.html" role="button"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <a class="btn btn-success" href="<%- gnb[page].children['공지사항-상세'].link %>.html" role="button"><i class="fa fa-check" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right"></div>
</div>