<% let base = locals.require('base.json') -%>
<% let gnb = locals.require('gnb.json') -%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- base.name %> <%- base.type %> 화면목록</title>
  <style>
    body { font-family:'Malgun Gothic', sans-serif; margin:20px; }
    .title { margin:0 0 .5em; font-size:30px; line-height:1.3; color:#333; }
    .table { width:100%; margin-top:15px; border-collapse:collapse; font-size:12px; color:#333; background-color:#fff; }

    .table tbody+tbody tr:first-child td { border-top-width:5px; }
    .table th,
    .table td { border:1px solid #e3e3e3; padding:5px 7px; }
    .table th { background-color:#ddd; }
    .table td { }
    .table td.no { text-align:right; }
    .table tbody tr:hover { background-color:#f7f7f7; }
    .table a { color:inherit; }
    .table a:hover { color:#d20e0e; }
    .text-center { text-align:center; }
    .text-left { text-align:left; }
    .text-right { text-align:right; }
  </style>
</head>
<body>
  <h1 class="title"><%- base.name %> <%- base.type %> 화면목록</h1>
  <table class="table">
    <thead>
      <th>No.</th>
      <th>Depth1</th>
      <th>Depth2</th>
      <th>Depth3</th>
      <th>Depth4</th>
      <th>Type</th>
      <th>Folder</th>
      <th>File</th>
      <th>생성일</th>
      <th>완료일</th>
      <th>상태</th>
      <th>수정일</th>
      <th>비고</th>
    </thead>
    <% 
      for (var depth1 in gnb) {
        var i = Object.keys(gnb).indexOf(depth1);
    -%>
    <tbody>
    <% if ((Object.keys(gnb[depth1].children).length > 0)) {
      var children = gnb[depth1].children;
      var subLink = children[Object.keys(children)[0]].link
      var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
      var type1 = (gnb[depth1].hasOwnProperty('type')) ? gnb[depth1].type : ''
    %>
      <% if (gnb[depth1].link != '') { -%>
        <tr>
          <td class="no"></td>
          <td><%- gnb[depth1].title.ko %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%- type1 %></td>
          <td><%- depth1 %></td>
          <td><a href="html/<%- depth1%>/<%- link %>.html" target="_blank"><%- link %>.html</a></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"><%- gnb[depth1].state %></td>
          <td class="text-center"></td>
          <td></td>
        </tr>
      <% } // end if -%>
      <% 
        for (var depth2 in children) { 
          var j = Object.keys(children).indexOf(depth2);
          var parent = ((j == 0) && (gnb[depth1].link == '')) ? gnb[depth1].title.ko : ''
          var type2 = (children[depth2].hasOwnProperty('type')) ? children[depth2].type : ''
          var title2 = (children[depth2].hasOwnProperty('type') === false || children[depth2].hasOwnProperty('view')) ? depth2 : ''
      -%>
        <tr>
          <td class="no"></td>
          <td><%- parent %></td>
          <td><%- title2 %></td>
          <td></td>
          <td></td>
          <td><%- type2 %></td>
          <td><%- depth1%></td>
          <td><a href="html/<%- depth1%>/<%- children[depth2].link %>.html" target="_blank"><%- children[depth2].link %>.html</a></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"><%- children[depth2].state %></td>
          <td class="text-center"></td>
          <td></td>
        </tr>
      <% } // end for -%>
    <% } else { -%>
      <tr>
        <td class="no"></td>
        <td><%- gnb[depth1].title.ko %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%- type1 %></td>
        <td><%- depth1%></td>
        <td><a href="html/<%- depth1%>/<%- gnb[depth1].link %>.html" target="_blank"><%- gnb[depth1].link %>.html</a></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"><%- gnb[depth1].state %></td>
        <td class="text-center"></td>
        <td></td>
      </tr>
    <% } // end if -%>
    </tbody>
    <% } // end for -%>
  </table>
  <script type="text/javascript" src="libs/jquery/jquery.min.js"></script>
  <script>
    $(function(){
      $(".table").each(function(){
        $(this).find("tbody tr").each(function(index){
          $(".no", this).text(index+1);
        });
        $(this).find("tbody tr:even").each(function(index){
          $(this).addClass("even");
        });
      });
    })
  </script>
</body>
</html>