<% 
  let gnb = locals.require('gnb.json')
  var page = 'registration'
  let sub = '회원 리스트'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <h2 class="h3 font-weight-light">조회</h2>
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">검색어</th>
          <td>
            <div class="form-inline">
              <div class="form-group">
                <select name="" id="" class="form-control input-sm">
                  <option value="">이름</option>
                  <option value="">접속코드</option>
                  <option value="">소속</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" name="" id="" class="form-control input-sm">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
    <div class="text-center sm-mb-30">
      <button type="submit" class="btn btn-primary btn-sm"><span class="fa fa-search" aria-hidden="true"></span> 조회</button>
    </div>
    
    <table class="table table-striped table-bordered">
      <thead>
        <th class="text-center" style="width:60px;">선택</th>
        <th class="text-center" style="width:60px;">No</th>
        <th class="text-center">소속</th>
        <th class="text-center">이름</th>
        <th class="text-center">접속코드</th>
        <th class="text-center">E-mail</th>
        <th class="text-center">제품</th>
        <th class="text-center">HC O ID</th>
        <th class="text-center">HCP ID</th>
        <th class="text-center" style="width:100px;">등록일</th>
      </thead>
      <tbody>
        <% for (var i=10; i > 0; i--) { %>
          <tr>
            <td class="text-center"><input type="checkbox" value=""></td>
            <td class="text-center"><%- i %></td>
            <td class="text-center">이 편한 제약회사</td>
            <td class="text-center"><a href="<%- gnb[page].children['회원 상세정보'].link %>.html" class="board-link">김길동</a></td>
            <td class="text-center"><a href="<%- gnb[page].children['회원 상세정보'].link %>.html" class="board-link">01012345678</a></td>
            <td class="text-center">asdfasfda@naver.com</td>
            <td class="text-center">발트렉스</td>
            <td class="text-center">Adff03fsmf</td>
            <td class="text-center">1223dfskdfi</td>
            <td class="text-center">0000-00-00</td>
          </tr>
        <% } -%>
      </tbody>
    </table>
    <!-- //table -->
    
    <%- locals.widget('_pagination.ejs') %>
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="#" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>