<% 
  let gnb = locals.require('gnb.json')
  var page = 'registration'
  let sub = '회원 등록'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">소속 <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small></th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">이름 <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small></th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">휴대폰 <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small></th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30" onkeyup="phoneCheck(this)" maxlength="13">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">전화번호</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30" onkeyup="phoneCheck(this)" maxlength="13">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">E-mail</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="40">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">주소</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="5" readonly>
              <button type="button" class="btn btn-default btn-sm">주소검색</button>
            </div>
            <div class="form-inline sm-mt-5">
              <input type="text" name="" id="" class="form-control input-sm" size="50" readonly>
            </div>
            <div class="form-inline sm-mt-5">
              <input type="text" name="" id="" class="form-control input-sm" size="50">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">HC O ID</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">HCP ID</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30">
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">WKP_SP</th>
          <td>
            <div class="form-inline">
              <input type="text" name="" id="" class="form-control input-sm" size="30">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <button type="button" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</button>
  </div>
  <div class="col-sm-4 text-center">
    <a class="btn btn-success" href="<%- gnb[page].children['회원 상세정보'].link %>.html" role="button"><i class="fa fa-check" aria-hidden="true"></i> 등록</a>
  </div>
  <div class="col-sm-4 text-right"> </div>
</div>