<% 
  let gnb = locals.require('gnb.json')
  var page = 'registration'
  let sub = '회원 리스트'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: '회원 상세정보'}) %>

<div class="row">
  <div class="col-sm-12">
    
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">접속코드</th>
          <td>01012345678</td>
        </tr>
        <tr>
          <th class="active">소속</th>
          <td>이편한병원</td>
        </tr>
        <tr>
          <th class="active">이름</th>
          <td>남궁길동</td>
        </tr>
        <tr>
          <th class="active">핸드폰</th>
          <td>010-1231-3453</td>
        </tr>
        <tr>
          <th class="active">전화번호</th>
          <td>02-1345-5675</td>
        </tr>
        <tr>
          <th class="active">E-mail</th>
          <td>asdfioasdjfoi@naver.com</td>
        </tr>
        <tr>
          <th class="active">주소</th>
          <td>
            [12345]<br>
            경기도 안양시만안구 000로 00길 11<br>
            3층
          </td>
        </tr>
        <tr>
          <th class="active">HC O ID</th>
          <td>Dkfisfief3333</td>
        </tr>
        <tr>
          <th class="active">HCP ID</th>
          <td>sfffi33</td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <button type="button" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</button>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a class="btn btn-success" href="<%- gnb[page].children['회원 정보수정'].link %>.html" role="button"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
    
  </div>
  <div class="col-sm-4 text-right"></div>
</div>