<%
  let gnb = locals.require('gnb.json')
  var page = 'confirm'
  let sub = '예약확인'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('libsStyle','<link href="../../libs/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">','append') %>
<% locals.block('footerScript','<script src="../../libs/bootstrap-table/js/bootstrap-table.min.js"></script>','append') %>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <h2 class="h3 font-weight-light">조회</h2>
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <th class="active">상태</th>
        <td>
          <label class="radio-inline"><input type="radio" name="상태" value="1" checked> 전체</label>
          <label class="radio-inline"><input type="radio" name="상태" value="2"> 예약중</label>
          <label class="radio-inline"><input type="radio" name="상태" value="3"> 예약취소</label>
          <label class="radio-inline"><input type="radio" name="상태" value="4"> 예약변경</label>
          <label class="radio-inline"><input type="radio" name="상태" value="5"> 상담완료</label>
        </td>
      </tr>
      <tr>
        <th class="active">기간</th>
        <td>
          <div class="form-inline sm-mt-5">
            <div class="form-group">
              <div class="input-group input-group-sm">
                <select class="form-control">
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                </select>
                <span class="input-group-addon modu-group-addon center">년</span>
                <select class="form-control">
                  <% for(var i=1; i<=12; i++){ %>
                  <% if(i<10){ %>
                  <option>0<%- i %></option>
                  <% } else { %>
                  <option><%- i %></option>
                  <% } %>
                  <% } %>
                </select>
                <span class="input-group-addon modu-group-addon center">월</span>
                <select class="form-control">
                  <% for(var i=1; i<=31; i++){ %>
                  <% if(i<10){ %>
                  <option>0<%- i %></option>
                  <% } else { %>
                  <option><%- i %></option>
                  <% } %>
                  <% } %>
                </select>
                <span class="input-group-addon modu-group-addon">일</span>
              </div>
              <div class="input-group">~</div>
              <div class="input-group input-group-sm">
                <select class="form-control">
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                </select>
                <span class="input-group-addon modu-group-addon center">년</span>
                <select class="form-control">
                  <% for(var i=1; i<=12; i++){ %>
                  <% if(i<10){ %>
                  <option>0<%- i %></option>
                  <% } else { %>
                  <option><%- i %></option>
                  <% } %>
                  <% } %>
                </select>
                <span class="input-group-addon modu-group-addon center">월</span>
                <select class="form-control">
                  <% for(var i=1; i<=31; i++){ %>
                  <% if(i<10){ %>
                  <option>0<%- i %></option>
                  <% } else { %>
                  <option><%- i %></option>
                  <% } %>
                  <% } %>
                </select>
                <span class="input-group-addon modu-group-addon">일</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="active">이름</th>
        <td>
          <div class="form-inline">
            <input type="text" name="" id="" class="form-control input-sm">
          </div>
        </td>
      </tr>
      <tr>
        <th class="active">제품</th>
        <td>
          <label class="radio-inline"><input type="radio" name="제품" value="1" checked> 전체</label>
          <label class="radio-inline"><input type="radio" name="제품" value="2"> 발트렉스</label>
          <label class="radio-inline"><input type="radio" name="제품" value="3"> 아바미스</label>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- //table -->
    
    <div class="text-center sm-mb-30">
      <button type="submit" class="btn btn-primary btn-sm"><span class="fa fa-search" aria-hidden="true"></span> 조회</button>
    </div>    

    <div class="pull-right">
      <button type="submit" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 엑셀저장</button>
    </div>
    <div class="clearfix sm-mb-10"></div>

    <table class="table table-striped table-bordered" id="table1" data-toggle="table" data-sort-order="desc">
      <thead>
      <th class="text-center" data-sortable="true">예약일</th>
      <th class="text-center" data-sortable="true">예약시간</th>
      <th class="text-center">소속</th>
      <th class="text-center">HC O ID</th>
      <th class="text-center">HCP ID</th>
      <th class="text-center">제품</th>
      <th class="text-center">이름</th>
      <th class="text-center">상담종류</th>
      <th class="text-center">상태</th>
      </thead>
      <tbody>
      <% for (var i=10; i > 0; i--) { %>
      <tr>
        <td class="text-center">2018.04.01</td>
        <td class="text-center">07:00 – 09:30</td>
        <td class="text-center"><a href="<%- gnb[page].children['예약확인-상세'].link%>.html" class="board-link">우리대학</a></td>
        <td class="text-center"><a href="<%- gnb[page].children['예약확인-상세'].link%>.html" class="board-link">1231432432431</a></td>
        <td class="text-center"><a href="<%- gnb[page].children['예약확인-상세'].link%>.html" class="board-link">13452345324523453</a></td>
        <td class="text-center"><a href="<%- gnb[page].children['예약확인-상세'].link%>.html" class="board-link">발트렉스<br>(미화플루티카손푸로에이트)</a></td>
        <td class="text-center"><a href="<%- gnb[page].children['예약확인-상세'].link%>.html" class="board-link">홍길동</a></td>
        <td class="text-center">전화</td>
        <% if(i==4){ %>
        <td class="text-center"><span class="label label-default label--w-52">예약취소</span></td>
        <% } else if(i==6) { %>
        <td class="text-center"><span class="label label-warning label--w-52">예약변경</span></td>
        <% } else if(i<4) { %>
        <td class="text-center"><span class="label label-success label--w-52">상담완료</span></td>
        <% } else { %>
        <td class="text-center"><span class="label label-info label--w-52">예약중</span></td>
        <% } %>
      </tr>
      <% } -%>
      </tbody>
    </table>
    <!-- //table -->

    <%- locals.widget('_pagination.ejs') %>

  </div>
</div>