<%
  let gnb = locals.require('gnb.json')
  var page = 'confirm'
  let sub = '예약확인'
  let heading = (sub) ? sub : gnb[page].title.ko
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>

<%- locals.widget('_page-header.ejs', {title: sub}) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">예약변경 취소여부</th>
          <td>
            <!-- <span class="label label-default">예약취소</span>
            <span class="label label-warning">예약변경</span>
            <span class="label label-success">상담완료</span> -->
            <span class="label label-info label--w-52">예약중</span>
          </td>
        </tr>
        <tr>
          <th class="active">소속</th>
          <td>우리대학</td>
        </tr>
        <tr>
          <th class="active">이름</th>
          <td>홍길동</td>
        </tr>
        <tr>
          <th class="active">핸드폰</th>
          <td>010-2222-2222</td>
        </tr>
        <tr>
          <th class="active">전화번호</th>
          <td>02-2222-333</td>
        </tr>
        <tr>
          <th class="active">E-mail</th>
          <td>han@naver.com</td>
        </tr>
        <tr>
          <th class="active">HC O ID</th>
          <td>dsfsfsf333</td>
        </tr>
        <tr>
          <th class="active">HCP ID</th>
          <td>dfsfsdodfs</td>
        </tr>
        <tr>
          <th class="active">제품선택</th>
          <td>A_Product (발라시클로비르염산염)</td>
        </tr>
        <tr>
          <th class="active">상담종류</th>
          <td>전화상담</td>
        </tr>
        <tr>
          <th class="active">문의내용</th>
          <td>
            문의내용 입니다.<br>
            문의내용 입니다.
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
    
    <table class="table table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">상담여부</th>
          <td>
            <a class="btn btn-success btn-sm" href="#" role="button">상담완료</a>
            <!--상담완료시-->
          <a class="btn btn-default btn-sm" href="#" role="button">상담취소</a>
          </td>
        </tr>
        <tr>
          <th class="active">메모</th>
          <td>
            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- //table -->
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
    <button type="button" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</button>
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right"></div>
</div>